In [1]:
import pandas as pd
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
df = pd.read_csv('sentiment_tweets.csv')

In [3]:
df.head()

                                               tweet
0  Yuruyen merdivenli ilk universite :) #istanbul...
1  #istanbulkulturuniversitesi bız cok meraklıydı...
2       #istanbulkulturuniversitesi para var beyin 0
3  #istanbulkulturuniversitesi once insanligi ogr...
4  #istanbulkulturuniversitesi bır festıval duzen...

In [4]:

def sentiment_analysis_blob(text): # burayi silebilirsiniz
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0:
        return 1
    elif analysis.sentiment.polarity == 0:
        return 0
    else:
        return -1

In [5]:

def sentiment_analysis_vader(text):
    analyzer = SentimentIntensityAnalyzer()
    sentiment = analyzer.polarity_scores(text)

    if sentiment['compound'] >= 0.05:
        return 1
    elif sentiment['compound'] <= -0.05:
        return -1
    else:
        return 0

In [6]:

df['sentiment_blob'] = df['tweet'].apply(sentiment_analysis_blob) # bunu ve bunun fonksiyonunu silebilirsiniz ornek olsun diye bunu da biraktim 
df['sentiment_vader'] = df['tweet'].apply(sentiment_analysis_vader) 

# 1 olumlu 
# 0 notr
# -1 olumsuz

In [7]:
df.head(5)

,tweet,sentiment_blob,sentiment_vader
0,Yuruyen merdivenli ilk universite :) #istanbul...,1,1
1,#istanbulkulturuniversitesi bız cok meraklıydı...,0,0
2,#istanbulkulturuniversitesi para var beyin 0,0,0
3,#istanbulkulturuniversitesi once insanligi ogr...,0,1
4,#istanbulkulturuniversitesi bır festıval duzen...,0,0

In [8]:
df.to_excel("sentiment_analysis.xlsx", index=False)
df.to_csv("sentiment_analysis.csv", index=False)